

<div class="top-right-create-box">
  <%=link_to "+ Add Store", '/stores/1/edit', :class => 'main-content-button' %>
</div>

<h2>Stores</h2>

<table class="manage-store-locations" cellspacing="0" cellpadding="0">
  <tr class="header">
    <th class="sorted-desc"><div class="sort-icon"></div><a href="#SORT">R#</a></th>
    <th>Name</th>
    <th>Region</th>
  </tr>


  <tr>
    <td><a href="/stores/1/edit">R123</a></td>
    <td><a href="/stores/1/edit">SOMA</a></td>
    <td><a href="/stores/1/edit">US-East</a></td>
  </tr>

  <tr>
    <td><a href="/stores/1/edit">R837</a></td>
    <td><a href="/stores/1/edit">Upper West Side</a></td>
    <td><a href="/stores/1/edit">Greater NYC</a></td>
  </tr>

</table>

